@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');

:root {}

body{
    margin: 0px;
    padding: 30px;
    font-family: "mukta";
    overflow: hidden;
    background: #313131;
}
canvas{
    box-shadow: -3px 2px 9px 6px black;
    cursor: pointer;
    height: 400px;
    width: 1200px;
}
.tools{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    flex-direction: row;
}
.tools .color-field{
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid white;
    margin: 0px 15px;
    align-self: center;
}
.tools .button {
    align-self: center;
    height: 40px;
    width: 100px;
    cursor: pointer;
    background: #222;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    margin: 0px 15px;
}
.color-picker {
    align-self: center;
    margin: 0px 15px;
    height: 40px;

}
.pen-range {
    align-self: center;
    margin: 0px 15px;
}
